nav {
    font-family: $font;
}

nav.primary {
    font-family: $action   ;
    width: 100%;
    display: flex;
    justify-content: center;
    color: $pink;
    
    a {
        margin: 0.5rem 1rem;
    }
}

nav.collections {
    display: flex;
    align-items: center;
    margin-bottom: -32px;
    background-color: transparent;
    a {
        margin: 0 32px;
    }
 
}


a.cart {
    display: flex;
    align-items: center;
    height: 100%;
    margin: 0 16px;
    svg {
        height: 32px;
        width: 32px;
        fill: $turq;
    }
}

// header nav {
//     z-index: 2;
//     position: relative;
//     display: flex;
//     justify-content: space-between;
//     align-items: center;
//     width: 100%;
//     max-width: 1544px;
//     padding: 0 32px;
//     font-size: 14px;
//     text-transform: uppercase;
//     color: $black;
// }

// header nav:not(.shop) a {
//     flex-basis: 120px;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     color: white;
//     &:hover {
//         color: $pink;
//         transition: color 0.2s linear;
//     }
// }
// header nav:not(.shop) a:nth-of-type(6) {
//     color: transparent;
// }
// header nav.primary a:nth-of-type(7) {
//     display: none;
// }

// nav.shop {
//     z-index: 1;
//     position: absolute;
//     top: 0;
//     display: flex;
//     justify-content: flex-end;
//     width: 100%;
//     max-width: 100%;
//     padding: 16px 32px;

//     // background-color: red;
// }

// nav.shop a {
//     display: block;
//     width: 16px;
//     height: 16px;
//     margin-left: 16px;
// }

// a.login {
//     background-image: shopify_asset('user.png');
//     background-size: contain;
//     background-repeat: no-repeat;
// }

// a.cart {
//     background-image: shopify_asset('cart.png');
//     background-size: contain;
//     background-repeat: no-repeat;
// }

/* //////////////////////////////////////////////////////////////////// TOGGLE /// */
// div.toggle {
//     display: none;
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     right: 16px;
//     width: 24px;
//     height: 24px;
//     cursor: pointer;
//     background-image: shopify_asset('toggle.png');
//     background-size: 300%;
//     background-position: top left;
//     background-repeat: no-repeat;
//     filter: invert(27%) sepia(49%) saturate(2701%) hue-rotate(315deg) brightness(88%) contrast(97%);
// }

/* //////////////////////////////////////////////////////////////////// ANNOUNCEMENT /// */
// .announcement header {
//     top: 50px;
// }

/* //////////////////////////////////////////////////////////////////// BREAKS /// */


// @media (max-width: $breakpoint3) {
//     header { height: 80px }
//     header nav { font-size: 12px; }
//     nav.shop { padding: 8px 16px; }
//     nav.shop a {
//         width: 14px;
//         height: 14px;
//     }
//     header a.logo {  width: 114px;}
//     header a.logo::before {  
//         width: 96px;
//         height: 94.4px;
//     }
// }

// @media (max-width: $breakpoint4) {
//     header { 
//         border: 0;
//         transition: background-color 0s;;
//     }
//     header:hover,
//     header.scrolled {
//         background-color: transparent;
//     }
//     header nav, 
//     header nav.shop {
//         display: none;
//     }
//     header nav.primary a.logo {
//         display: none;
//     } 
//     div.toggle {
//         display: flex;
//     }
//     header a.logo:first-child {
//         position: absolute;
//         top: 8px;
//         left: 16px;
//         display: block;
//     }
//     // header > a.logo::before { 
//     //     height: 60px;
//     //     width: calc(118px / 2);
//     // }
// }


/* //////////////////////////////////////////////////////////////////// NAV DISPLAY /// */

// .nav_display {
//     overflow: hidden;
// }

// .nav_display header {
//     z-index: 100;
//     position: fixed;
//     align-items: flex-start;
//     flex-direction: column;;
//     height: 100%;
//     width: 100vw;
    
    
//     background-color: white;
// }

// .index.nav_display header {
//     background-color: white;
// }

// .nav_display header nav.primary {
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-start;
//     color: $black;
  
//     // border: 1px solid red;
// }
// .nav_display header nav.primary a { 
//     padding: 4px 0;
// //     margin-bottom: 16px;
// }

// .nav_display header nav.shop {
//     position: relative;
//     display: flex;
//     justify-content: center;
//     bottom: 0;
// }

// .nav_display header nav.shop a {
//     margin-left: unset;
// }
// .nav_display header nav.shop a:first-child {
//     display: none;
// }
// .nav_display header nav.shop a.cart {
//     background-image: unset;
//     position: relative;
//     display: flex;
//     justify-content: center;
//     width: 100%;
// }
// .nav_display header nav.shop a.cart:after {
//     content: 'Basket';
//     display: block;
//     color: $pink;
//     position: absolute;
//     top: 0;
//     left: 50%;
//     transform: translateX(-50%);
// }


// .nav_display header nav:not(.shop) a,
// .nav_display header.scrolled nav:not(.shop) a {
//     flex-basis: 32px;
//     color: $black;
//     font-size: 14px;
// }
// .nav_display header nav:not(.shop) a:hover {
//     color: $pink;
// }
// .nav_display header nav:not(.shop) a:nth-child(-n+8) {
//     font-size: 18px;
//     // margin-bottom: 16px;
// }
// .nav_display header nav:not(.shop) a:nth-child(8),
// .nav_display header nav:not(.shop) a:last-child {
//     padding-bottom: 24px;
//     border-bottom: 1px solid $black;
//     width: 150px;
// }
// .nav_display header nav:not(.shop) a:last-child {
//     padding-bottom: 0px;
// }

// .nav_display header div.toggle {
//     top: calc(80px / 2);
// }
