/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// VARIABLES /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// COLORS /// */

$black: #06041A;
$pink: #C92A5E;
$turq: #09CDF3;
$blue: #140C6A;