/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////// VARIABLES /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// COLORS /// */

$black: #06041A;
$pink: #C92A5E;
$turq: #09CDF3;
$blue: #140C6A;

/* //////////////////////////////////////////////////////////////////// BREAKS /// */
$breakpoint1: 1920px;
$breakpoint2: 1620px;
$breakpoint3: 1256px;
$breakpoint4: 1080px;
$breakpoint5: 720px;
$breakpoint6: 480px;
$breakpoint7: 320px;

/* ////////////////////////////////////////////////////////////////////// FONTS /// */
$font: 'BrownLight', sans-serif;
$action: 'BrownRegular', sans-serif;
$title: 'ivymode', sans-serif;