/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////// PAGE LOOKBOOK /// */
/* //////////////////////////////////////////////////////////////////////////////// */


body.page-lookbook .lookbook {
    // width: calc((100% / 12) * 10);
    // margin: 0 auto;
    width: 100%;
    max-width: 1600px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

// body.page-lookbook .lookbook .shopify-section {

// }

body.page-lookbook .lookbook picture {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45%;
    padding: 16px;
}

body.page-lookbook .lookbook picture img {
    object-fit: contain;
    width: 100%;
    max-height: calc((100vw / 12) * 4);
}

@media (max-width: $breakpoint5) {
    body.page-lookbook .lookbook picture {
        width: 100%;
    }
    body.page-lookbook .lookbook picture img {
        max-height: unset;
    }

}