/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// MAKERS /// */
/* //////////////////////////////////////////////////////////////////////////////// */

body.page-makers {
}

body.page-makers .makers .shopify-section {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}