<section class="banner">
    <div class="text">
    {% for block in section.blocks %}
            {% if block.heading %}
               <h2> {{ block.heading }} </h2> 
            {% endif %}
            <p>{{ block.settings.bannerText }} </p>
    {% endfor %}
    </div>
</section>


{% schema %}
{
"name": "Banner",
"class": "section-banner",
"blocks" : 	[
                {
                    "type":"textarea",
                    "name":"Banner text",
                    "settings":	[
                                    {
                                        "type": "text",
                                        "label": "Heading",
                                        "id":"bannerHeading"
                                    },
                                    {
                                        "type": "textarea",
                                        "label": "Banner Text",
                                        "id":"bannerText"
                                    }
                                ]

                }
            ]
}
{% endschema %}