<div class="about">
    <h2>About Us</h2>
    <div class="wrap">
        <div class="page">
            <div style="">
                <h3>Our Makers</h3>
            
            </div>
            <a href="pages/makers" class="button">Find out more</a>
        </div class="page">
    
    
        <div class="page">
            <div style="">
                <h3>Lookbook</h3>
            
            </div>
            <a href="pages/lookbook" class="button">See more</a>
        </div class="page">
    
    
        <div class="page">
            <div style="">
                <h3>Made to Measure</h3>
            
            </div>
            <a href="pages/commission" class="button">Commission</a>
        </div class="page">
    </div>  
</div>



{% schema %}
    {
        "name": "main-about",
        "class": "section-links"
    }
{% endschema %}