<h2>The Montes & Clark Collection</h2> 
<nav class="department">
 	{% for block in section.blocks limit: 6 %}
        {%- assign collection = collections[block.settings.collection] -%}
   			  <a href="{{collection.url}}">
            
            <h3>{{collection.title}}</h3>
          
          </a>
     {% endfor %}
   		
</nav>


{% schema %}
  {
    "name": "shop-collection",
    "class": "section-collection",
	"blocks" : 	[
					{
						"type":"collection",
						"name":"collection",
						"settings":	[
                            {
                                "type": "collection",
                                "label": "collection",
                                "id":"collection"
                            }
                        ]
					}
				]
  }
{% endschema %}