{% for block in section.blocks %}
    <div class="texture-collection" style="background-image: url({{ collection.image | img_url: 'master' }})">
        <!-- <h1> {{ collection.title }} </h1> -->
    </div>
{% endfor %}




{% schema %}
{
"name": "texture",
"blocks" : 	[
                {
                    "type":"image",
                    "name":"Texture Bar",
                    "limit": 1,
                    "settings":	[
                                    {
                                        "type": "image_picker",
                                        "label": "Texture Bar",
                                        "id":"image"
                                    }
                                ]

                }
            ]
}
{% endschema %}