/* Webfont: Brown-LightItalic */@font-face {
    font-family: 'Brown';
    src: url('Brown-LightItalic.eot'); /* IE9 Compat Modes */
    src: url('Brown-LightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brown-LightItalic.woff') format('woff'), /* Modern Browsers */
         url('Brown-LightItalic.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brown-LightItalic.svg#Brown-LightItalic') format('svg'); /* Legacy iOS */
    font-style: italic;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

