/* Webfont: Brown-Regular */@font-face {
    font-family: 'Brown';
    src: url('Brown-Regular.eot'); /* IE9 Compat Modes */
    src: url('Brown-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brown-Regular.woff') format('woff'), /* Modern Browsers */
         url('Brown-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brown-Regular.svg#Brown-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: bold;
    text-rendering: optimizeLegibility;
}

