/* Webfont: Brown-Light */@font-face {
    font-family: 'Brown';
    src: url('Brown-Light.eot'); /* IE9 Compat Modes */
    src: url('Brown-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Brown-Light.woff') format('woff'), /* Modern Browsers */
         url('Brown-Light.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Brown-Light.svg#Brown-Light') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

