/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// PASSWORD /// */
/* //////////////////////////////////////////////////////////////////////////////// */

body.password {
    display: block;
    min-height: unset;
    min-width: unset;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background-repeat: no-repeat;
    background-position: center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


body.password section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

}

body.password section article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 50%;
    padding: 64px 32px;
    font-size: 19px;
    background-color: rgba(white, 0.8);
}

@media (max-width: $breakpoint4) {
    body.password {
        background-image: unset;
    }
    body.password section article {
        padding: 32px;
        height: 100%;
        width: 100%;
    }

}

