/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// BUTTON /// */
/* //////////////////////////////////////////////////////////////////////////////// */

// button {
//     background-color: none;
//     margin: 32px 0;
// }

.button {
    background-color: transparent;
    border: 1px solid white;
    color: white;
    // padding: 0;
    &::after,
    &::before {
        content: none;
    }   
    a {
        border: 0;
        &::after,
        &::before {
            content: none;
        }
    }
    &:hover {
        border: 1px solid $pink;
        background-color: $pink;
    }
}

.button-pink {
    border: 1px solid $pink;
    color: $pink;
    margin: 0 auto;
    align-self: center;
    &:hover {
        
        background-color: $pink;
        color: white;
    }

}

.button-black {
    border: 1px solid black;
    color: black;
    margin: 0 auto;
    align-self: center;
    &:hover {
        
        background-color: $pink;
        color: white;
    }

}

// .button::before,
// .button::after {
//     content: none;
// }

// a.button,
// button,
// form input.button {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     // min-width: 200px;
//     // max-width: 240px;
//     height: 48px;
//     padding: 16px;
//     font-family: $action;
//     font-size: 16px;
//     color: $black;
//     text-transform: uppercase;
//     text-align: center;
//     border: 1px solid $black;
//     line-height: 100%;
// }

// a.button:hover,
// button:hover,
// form input.button:hover  {
//     border: 1px solid $pink;
//     background-color: $pink;
//     color: white;
//     transition: all 0.2s ease;
// }  

// a.small {
//     position: absolute;
//     bottom: 16px;
//     right: 16px;
//     text-transform: uppercase;
//     font-size: 12px;
//     letter-spacing: 1px;
// }
// a.small:hover {
//     color: $pink;
// }

// select {
//     min-height: 48px;
//     height: auto;
//     padding: 16px;
//     font-family: $action;
//     font-size: 16px;
//     color: $black;
// }


// @media (max-width: $breakpoint4) {
//     a.button,
//     button {font-size: 14px;}
// }

// @media (max-width: $breakpoint6) {
//     select {
//         padding: unset;
//         width: 100vw;
//     }
//     button {
//         margin: 32px auto;
//     }
// }