/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////// SLIDESHOWS AND CAROUSELS /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* /////////////////////////////////////////////////////// HOMEPAGE HERO SLIDER /// */

slideshow-component {
   height: 100vh;
   .slideshow {
      height: 100%;
   }
}



.slideshow__text.banner__box {
   width: 100%;
   max-width: 100%;
   align-items: flex-start;
   justify-content: flex-start;
   background-color: transparent;
   h2 {
      color: white;
      font-size: 64px;
      padding: 0;
      text-align: left;
   }
   div.banner__text {
      color: white;
      font-size: 32px;
      padding: 0;
      margin: 0;
      text-align: left;
   }
}

.slideshow__controls.slider-buttons.no-js-hidden {
   display: none;
}

/* ///////////////////////////////////////////////// HOMEPAGE PRODUCT CAROUSELS /// */
.section-edit {
   slideshow-component {
      height: 500px;
      border: 1px solid pink;
      .slideshow {
         height: 100%;
      }
   }
   .slideshow__controls.slider-buttons.no-js-hidden {
      display: flex;
   }
} 