/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// FORM /// */
/* //////////////////////////////////////////////////////////////////////////////// */

/* //////////////////////////////////////////////////////////////////// FORM /// */

form { 
    width: 100%;
    margin: 0 auto;
}

form textarea {
    width: 100%;
    margin-bottom: 32px;
}

form input.button {
    background-color: transparent;
    width: calc((100% / 12) * 2);
}

form input {
    border: 1px solid teal;
}

.thankyou {
    color: $pink;
    text-transform: unset;
}

form .errors {
    color: $pink;
}


@media (max-width: $breakpoint5) {
    form { 
        width: 100%;
    }
}
