.section-collection {
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
    padding: 0 32px;

    // background-color: rgb(126, 40, 123);
}

.collection div.sort {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 16px 0;

    // background-color: antiquewhite;
}

.collection aside {
    width: calc((100% / 12) * 2);
    // padding: 
    // background-color: palegoldenrod;

}

.collection div.range {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: calc((100% / 12) * 10);
}

.collection div.range .card {
    // width: calc(((100% / 12) * 10) / 3);
    margin-bottom: 32px;
}

.paginate {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(100% - ((100% / 12) * 2));
    // width: 
    padding: 128px 16px;
    margin-left: calc((100% / 12) * 2);
    // background-color: aqua;
    // margin: 0 auto;
}

.paginate span {
    display: block;
    margin: 0 16px;
}

@media (max-width: $breakpoint6) {
    .collection aside {
        display: none;
    }
}   