/* //////////////////////////////////////////////////////////////////////////////// */
/* ////////////////////////////////////////////////////////////////////// LINKS /// */
/* //////////////////////////////////////////////////////////////////////////////// */

div.about {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    // // width: calc((100% / 12) * 10);
    // padding: 0 calc((100% / 12) * 1);
    // width: 100%;
    padding: 64px 32px;
    margin: 0 auto;
    
    // border: 1px solid lime;
}

.about h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    text-decoration: none;
    
}   

.about h3 {
    font-size: 32px;
    color: white;
}

.about .wrap {
    // border: 1px solid red;
    display: flex;
    justify-content: space-between;
    border: 3px solid orange;
}

.about .page {
    // display: flex;
    // flex-wrap: nowrap;
    // justify-content: space-between;
    // width: 100%;
    // height: 100%;
    // border: 3px solid lime;
}


// .about .page div .text { 
//     opacity: 0; 
//     // font-family: $action;
//     font-size: 19px;
// }

// .about .page div .text p:first-child {
//     padding-bottom: 16px;
// }
   
// .about .page:hover div {
//     h3 { 
//         opacity: 1;
//     }
//     .text { 
//         opacity: 0; 
//     }
// }

.about .button {
    margin: 32px;
    // border-color: black;
    // color: black;
    // &:hover {
    //     border-color: $pink;
    // color: white;
}

/* //////////////////////////////////////////////////////////////////// BREAK /// */

// @media (max-width: $breakpoint3) {
//     .about article div .text { font-size: 16px; }
// }

// @media (max-width: $breakpoint4) {
//     .about article:hover div {
//         h3 { 
//             opacity: 1;
//         }
//         .text { 
//             opacity: 0; 
//         }
//     }
// }

// @media (max-width: $breakpoint5) {
//     .about article { width: 100% }
// }