/* //////////////////////////////////////////////////////////////////////////////// */
/* /////////////////////////////////////////////////////////////////////// SHOP /// */
/* //////////////////////////////////////////////////////////////////////////////// */

.section-collection {
    padding-bottom: 64px;
    border-top: 1px dotted black;
    border-bottom: 1px dotted black;
}



// .shop .shopify-section {
//     width: 100%;
//     display: flex;
//     flex-direction: column;
//     align-items: center;
// }

div.shop {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    // width: calc((100% / 12) * 10);
    width: 100%;
    // padding: 0 calc((100% / 12) * 1);
    padding-top: 32px;
    margin: 0 auto;
    margin-right: 0;
    
}

.shop .block-link {
    width: 25%;
    a {
        width: 100%;
    }
}

a.department {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    width: calc(((100% / 12) * 3) + 32px);
    background-color: aliceblue;
    // padding: 32px;
    margin-bottom: 96px;
    // margin-bottom: 0 calc((100% / 12) * 1px);
    background-repeat: no-repeat; 
    background-size: cover;
    text-decoration: none !important;
}



// }
// .department a::before {
//     content: '';
//     display: block;
//     padding-top: 133.333%;
// }
// .department a::after {
//     z-index: 5;
//     content: "";
//     position: absolute;
//     top: 0;
//     left: 0;
//     display: block;
//     height: 100%;
//     width: 100%;
//     background: transparent;
//     // background: linear-gradient(0deg, rgba(175,175,175,1) 0%, rgba(255,255,255,0) 15%);
//     transition: background-color 400ms ease;
// }
// .department a:hover::after {
//     // background: linear-gradient(0deg, rgba(175,175,175,1) 0%, rgba(255,255,255,0) 15%);
//     // background: linear-gradient(0deg, rgba(175,175,175,0) 0%, rgba(255,255,255,0) 15%);
//     background-color:  rgba($pink, 0.9);
// }



// .department a h3 {
//     z-index: 10;
//     position: relative;
//     padding: 16px;
//     margin: 0;
//     font-size: 32px;
//     color: white;
    
// }


/* //////////////////////////////////////////////////////////////////// BREAK /// */
// @media (max-width: $breakpoint3) {
//     .department a { margin-bottom: 64px; }
// }

// @media (max-width: $breakpoint4) {
//     .department a { margin-bottom: 32px; }
// }

// @media (max-width: $breakpoint5) {
//     .department a { width: calc(50% - 16px) ; }
// }

// @media (max-width: $breakpoint6) {
//     .department a { width: 100%; }
// }