/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////////// FOOTER /// */
/* //////////////////////////////////////////////////////////////////////////////// */
.shopify-section-footer {

}

footer {
    display: flex;
    flex-wrap: wrap;
    
    margin: 0 auto;
    padding-bottom: 32px

}



div.footer-row {
    // border: 1px solid lime;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
}

footer .copyright{
    justify-content: space-between;
    width: calc((100% / 12) * 2);
    p {
        font-size: 14px;
    }
}

.footer {
    border-top: unset;
}

.footer__blocks-wrapper {
    .footer-block {
        text-align: left !important;
    }
}

.footer-block__details-content {
}



footer .quicklinks nav > div{
    display: flex;
    flex-direction: column; 
    width: 33.333%;
    height: auto;
}

.footer__content-top {
    padding-left: 0;
}

.footer-quicklinks {
    margin: 0 !important;
    width: 33.333%;
    .footer-block  {
        // border: 1px solid red;
    }
    .footer-block__details-content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 120px;
    }
}

footer .contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: calc((100% / 12) * 4);
    & > a {
        margin-bottom: 16px;
    }
}

footer .social {
    width: calc((100% / 12) * 3);
    .footer__list-social {
        justify-content: flex-start;
        // .list-social__item:first-child align-items: ; {
        //     padding-left: 0;
        // }
        svg path {
            fill: $pink;
        }
    }
    

}

@media (max-width: 990px) {
    .footer-row {
        flex-direction: column;
        .copyright,
        .footer__content-top,
        .contact,
        .social {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }

    // .footer-row {
    //     flex-wrap: wrap;
    //     height: unset;
    // }
    // footer > div {
    //     padding: 16px 0
    // }
    // footer h5 {
    //     text-align: center;
    // }
    // footer .quicklinks {
    //     display: none;
    // }
    // footer .copyright,
    // footer .contact,
    // footer .social { 
    //     width: 100%;
    //     padding: 16px 0;
    //     justify-content: center;
    //     align-items: center;
    // }
    // // footer .copyright { 
    // //     order: 5;
    // //     & a.logo:first-child {
    // //         margin: 32px 0;
    // //     }
    // // }
    // footer .quicklinks nav,
    // footer .quicklinks nav div {
    //     justify-content: center;
    //     align-items: center;
    // }
    // footer div.social nav a {
    //     margin: 0 16px;
    // }
}   




