sticky-header {
    background: white;
    z-index: 500;
}


@media screen and (min-width: 990px) {
    .header {   
        padding-top: 16px;
        padding-bottom: 0;
        padding: 16px 0;
    }
    .header--has-menu:not(.header--middle-left) {
        padding-bottom: 16px;
    }
}

.header {
    margin-bottom: -50px;
}

body.index {
    .header {
        background-color: transparent;
    }
}

.header--top-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    .header__heading-link {
        padding: 0;
    }
    @media (max-width: 989px) {
        justify-content: flex-start;
    } 
}


.header:not(.header--middle-left) .header__inline-menu {
    margin-top: 0;
    
}

.header__menu-item {
    padding: 1rem 1.2rem;
}

.header__menu-item:hover span {
    text-decoration: none;
}

.list-menu--inline {
    align-items: center;
}


/* ////////////////////////////////////////////////// STICKY HEADER BACKGROUNDS /// */
.header-wrapper,
.header-wrapper.transparent:hover {
    background-color: white;
    border-bottom: 1px solid white;
    transition: background-color 0.3s ease-in-out;
    .header__menu-item {
        color: black;
        &:hover,
        &:active {
            color: $pink;
            text-decoration: none;
        } 
    }
} 

.header-wrapper.transparent:hover {
    background-color: white !important;
    .header__menu-item {
        color: black !important;
    }
}

.shopify-section-header-hidden .nav-logo {
    transform: translateY(-30%);
    transition: transform 0.3s ease-out;
}

.header__active-menu-item a {
    text-decoration: none;
    color: $pink;
}

body.index {
    .header-wrapper.transparent {
        background-color: transparent;
        border-bottom: 1px solid white;
        .header__menu-item {
            color: white;
        }
    } 
}

body:not(.index) {
    .header-wrapper,
    .header-wrapper:hover, {
        border-bottom: 1px solid black;
        @media (max-width: 990px) {
            border-bottom: 0;
        }
    }
}

@media screen and (max-width: 990px) {
    .header-wrapper,
    .header-wrapper.transparent,
    .header-wrapper.transparent:hover  {
        border-bottom: 1px solid transparent !important;
        background: transparent;
    }
    .shopify-section-header-hidden .nav-logo {
        transform: translateY(0) !important;
        transition: transform 0.3s ease-out;
    }
}

/* ////////////////////////////////////////////////////////////////// LIST MENU /// */

.list-menu--inline li:not(.nav-logo) {
    padding-bottom: 30px;
}

/* /////////////////////////////////////////////////////////////////// SUB MENU /// */
body.index {
    .header-wrapper.transparent {
        .header__submenu {
            .header__menu-item {
                color: $black !important;
                &:hover {
                    color: $pink;
                }
            }
        }
    }
}

#HeaderMenu-MenuList-1 .list-menu--inline li {
    padding-bottom: 0px !important;
}
            
            


/* ///////////////////////////////////////////////////////////////// SHOP ICONS /// */

.header__icons {
    // border: 1px solid orange;
}

.header__icon--search {
    position: absolute;
    left: unset;
    right: 4rem;
    color: $pink;
}



.header__icon--cart {
    position: absolute;
    right: 1rem;
    color: $pink;
}

.header__icon--menu {
    color: $pink;
}


@media (max-width: 989px) {
    h1.header__heading,
    a.header__heading-link {
        display: block;
        z-index: 12;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        transition: transform 0.3s ease-out;
        a {
            padding: 0;
        }
    }

    .shopify-section-header-hidden {
        h1.header__heading,
        a.header__heading-link {
            top: calc(-50% - 30px);
        }
    }
}

@media (min-width: 990px) {
    h1.header__heading,
    a.header__heading-link {
        display: none;
    }
}