.header {
    padding: 0;
}

.header--top-center {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 154px;
    .header__heading-link {
        padding: 0;
    }
}

h1.header__heading {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    margin-bottom: -1rem;
    
    // border: 1px solid blue;
    a {
        padding: 0;
    }
}

.header:not(.header--middle-left) .header__inline-menu {
    margin-top: 0;
    
    // border: 1px solid green;
}

.header__menu-item {
    padding: 1rem 1.2rem;
}

.header__menu-item:hover span {
    text-decoration: none;
}

.header__shop-menu {
    position: absolute;
    top: 50%;
    .link {
        font-size: 1.8rem;

    }
    &-left { 
        left: calc(33.333%);
        transform: translateX(-33.333%);
        .list-menu {
            li:last-of-type {
                padding-right: 130px;
            }
        }
    }
    &-right { 
        right: calc(33.333%);
        transform: translateX(33.333%);
        .list-menu {
            li:first-of-type {
                padding-left: 40px;
            }
        }
    }
}


/* ///////////////////////////////////////////////////////////////// SHOP ICONS /// */

.header__icons {
    border: 1px solid orange;
}

.header__icon--search {
    position: absolute;
    left: 0;
}

.header__icon--search {
    position: absolute;
    left: 0;
}

.header__icon--cart {
    position: absolute;
    right: 1rem;
}