/* //////////////////////////////////////////////////////////////////////////////// */
/* //////////////////////////////////////////////////////////////////// SHOPIFY /// */
/* //////////////////////////////////////////////////////////////////////////////// */

.shopify-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.shopify-challenge__container {
    max-width: 491px;
    margin: 0 auto;
    margin-top: 240px;
    margin-bottom: 240px;
}

.shopify-challenge__container form {
    width: unset;
}