/* //////////////////////////////////////////////////////////////////////////////// */
/* ///////////////////////////////////////////////////////////////// PAGE ABOUT /// */
/* //////////////////////////////////////////////////////////////////////////////// */

body.page-about section.link {
    width: calc((100% / 12) * 12);
    margin-top: 64px;
    border-top: 1px solid black;
}